body {
  font-family: wf_segoe-ui_normal,'Open Sans',Tahoma,Verdana,Arial,sans-serif;
}

.navbar {

}

.navbar-brand img {
  max-height: 23px;
  margin-left: 50px;
}

/*.navbar {
  border: 0px;
  background-color: white !important;
}*/

.navbar navbar-default {
    background-color: white;
    border-color: white;
    font-family: wf_segoe-ui_normal,'Open Sans',Tahoma,Verdana,Arial,sans-serif;
}

.navbar-header {
  border-color: white;
  background-color: white ;
}

.col-xs-3 img {
  width: 100%;
}
